@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

body {
    background-color: rgb(35,31,32);
    overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Work Sans', sans-serif;
}

#header {
    text-align: center;
    color: #FBF8F3;
    margin-bottom: 10px;
}

.jumbotron {
    padding-top: 10px;
}

#map {
    float: left;
    height: 80%;
    width: 50%;
    margin-right: 30px;
}

input {
    margin-right: 10px;
}


#legend {
    height: 80%;
    font-family: 'Telex', sans-serif;
    overflow: hidden;
}

.sub-legend {
    background-color: #FBF8F3;
    margin: 10px;
    padding: 20px;
}

#legend-container {
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.checkbox {
    font-size: 15px;
}


